.card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 450px;
    height: 600px;
    padding: 20px;
}
.label-input {
    display: flex;
    flex-direction: column; /* Add this line */
    gap: 8px;
    align-items: baseline;
    margin-bottom: 20px;
}
#submitBtn {
    margin-top: 20px;
}
.label-input input {
    align-items: flex-end;
}
#rname {
    margin-top: 30px;
}
#name, #image, #time, #citystate, #date, #guests {
    border-radius: 4px;
    height: 20px;
    width: 150px;
    text-align: center;
    padding-bottom: 5px;
    background: #495083;
    border: none;
    border-color: #495083;
    color: #FFFFFF;
}
#lg {
    font-size: 30px;
}