.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 119, 131, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #0E0F21;
    padding: 20px;
    border-radius: 5px;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header, .modal-footer {
    padding: 10px;
  }
  
  .modal-body {
    padding: 10px;
    border-top: 1px solid #857d7d;
    border-bottom: 1px solid #eee;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .label-input2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
  }
  #bid {
    border-radius: 4px;
    height: 20px;
    width: 150px;
    text-align: center;
    padding-bottom: 5px;
    background: #495083;
    border: none;
    border-color: #495083;
    color: #FFFFFF;
  }
  #submit-bid-Btn {
    text-decoration: none;
    background-color: #41bb36;
  }
  #close {
    text-decoration: none;
    background-color: red;
  }
  #deleteBtn {
    margin-top: 20px;
    text-decoration: none;
    background-color: red;
    margin-left: 100px;
  }
  #edit-Btn {
    margin-top: 20px;
    text-decoration: none;
    background-color: #41bb36;
    margin-left: 100px;
  }