.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 450px;
  height: 600px;
  padding: 20px;
  justify-content: center;
  text-align: center;
}
#email, #password {
  border-radius: 4px;
  height: 20px;
  width: 150px;
  text-align: center;
  padding-bottom: 5px;
  background: #495083;
  border: none;
  border-color: #495083;
  color: #FFFFFF;
}
.input {
  margin-top: 20px;
}
input {
  width: 300px;
}
  