.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 450px;
  height: 600px;
  padding: 20px;
  justify-content: center;
  text-align: center;
}
#email, #password {
  border-radius: 4px;
  height: 30px;
  width: 250px;
  text-align: center;
  background: #495083;
  border: none;
  border-color: #495083;
  color: #FFFFFF;

}
.input {
  margin-top: 20px;
}
.sign-up-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#signupBtn {
  text-decoration: none;
  color: #41bb36;
}
#email::placeholder, #password::placeholder {
  color: #FFFFFF;
}
#submitBtn {
  color: #FFFFFF;
  height: 50px;
  width: 250px;
  font-size: 14px;
}
#guest-forgot {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}
.ntd {
  color: #FFFFFF;
  text-decoration: none;
}
#forgot {
  color: red;
}
.error-message {
  color: #ff6347; 
  background-color: #fff3f3; 
  border: 1px solid #ff6347; 
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0; 
  text-align: center; 
  font-weight: bold; 
}
  