.card {
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 380px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #0E0F21;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
img {
    border-radius: 16px 16px 0 0;
}
.card-body {margin: 10px 0 0 20px;}
.body-heading {
    display: flex;
    gap: 80px;
}
.body-footer {
    display: flex;
    gap: 120px;
    margin-top: 20px;
}
.left-heading {
    display: flex; 
    flex-direction: column; 
    gap: 4px;
}
.right-heading {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.location {
    display: flex;
    gap: 6px;
    align-items: center;
}
.guests {
    display: flex;
    gap: 6px;
    align-items: center;
}
.bid-btn {
    display: inline-flex;
    padding: 11px 20px 10px 21px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #1B1F3F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 112px;
    height: 41px;
}
.bid-btn h4 {
    font-size: 16px;
}